/**
 * Posts and Pages
 */
.post {
  margin-bottom: 1.66667em;
  padding: 1em;
}

.page-header,
.post-header {
  margin-bottom: 2.5em;
}

.page-title,
.post-title {
  margin-bottom: 0;
  line-height: 1.5em;
}

.page-subtitle,
.post-subtitle {
  color: _palette(charcoal-light-75);
  margin-top: 0.5em;

  .palette-dark & {
    color: _palette(charcoal-light-75);
  }

  span {
    padding-right: 0.5em;

    label {
      color: _palette(charcoal-light-75);
      font-weight: normal;
      margin-right: 0.8em;
    }
  }
}

.post-content,
.block-content {
  line-height: 1.8em;
  iframe[src*='vimeo.com'],
  iframe[src*='youtube.com'] {
    display: block;
    margin-bottom: 1.66667em;
    margin-top: 1.66667em;

    &:first-child {
      margin-top: 0;
    }
  }
}

.post-subtitle {
  font-size: 1.33333em;
  line-height: 1.4;
}

.post-date {
  margin-top: 1em;
  text-align: right;
}

.post-category {
  margin-top: 0.5em;
  margin-bottom: 0;

  span {
    padding-right: 1em;
  }
}

.post-meta {
  color: _palette(charcoal-light-75);
  font-size: 0.88889em;
  letter-spacing: 1px;
  text-transform: uppercase;

  .palette-dark & {
    color: _palette(charcoal-light-75);
  }
}

.post-full {
  .post-meta {
    padding-bottom: 1.875em;
    padding-top: 0.9375em;
  }
}

.post-image {
  border: 0;
  display: block;
  margin-bottom: 1.66667em;

  img {
    width: 100%;
  }
}

.thankyou-image {
  width: 50%;
  margin: 0 auto 2em;
}

.capture-wrap {
  text-align: center;
}

.capture-image {
  margin: 0.5em;
}

.paginate-btn {
  text-align: center;
  margin-top: 3em;
}

.paginate-btn > a {
  margin: 0 1em;
  cursor: pointer;
}

.back-btn {
  margin-top: 5em;
  a {
    cursor: pointer;
  }
}

.video-wrap {
  margin: 1em 0;
}

.video-wrap > video {
  width: 100%;
}

/* Post feed */
.post-thumbnail {
  border: 0;
  display: block;
  margin-bottom: 1.33333em;
  position: relative;
  width: 100%;

  &:before {
    content: '';
    display: block;
    padding-top: 60%;
  }

  img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.post-feed {
  .post-header {
    margin-bottom: 0.83333em;
  }

  .post-title {
    font-size: 1.33333em;
    line-height: 1.5em;

    a {
      border: 0;
      color: inherit !important;
    }
  }

  .post-meta {
    margin-top: 0.5em;
  }
}

.heading-2 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 1.5em 0 0.4em;
}

.heading-3 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.8em 0 0.2em;
}

.table-of-contents {
  margin-bottom: 2em;
}

.table-of-contents > div {
  margin-left: 1em;
}

.heading-big {
  font-size: 1em;
  line-height: 2.2em;
}

.heading-small {
  font-size: 0.9em;
  margin-left: 2em;
  line-height: 1.8em;
}

.fontBold {
  font-weight: bold;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 3em;
  max-width: 90%;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;

  & > div:nth-child(2) {
    flex: 40% 0;
  }
}

.search-loader {
  text-align: center;

  & > div > svg {
    overflow: visible;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
}

.no-hit {
  margin: 0 auto;
  text-align: center;
  & div {
    margin: 1em 0;
  }
  & img {
    padding-top: 3em;
    opacity: 30%;
    width: 30%;
  }
}

.post-related {
  margin-top: 3em;
}

.related-posts {
  display: flex;
  column-gap: 1em;
  margin-bottom: 2em;

  & a {
    border-bottom: none;
  }

  & > div {
    flex: 1;
  }

  .related-sub-text {
    display: flex;
    justify-content: space-between;
  }
}

.message-center {
  text-align: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 541px) {
  .post-feed {
    &.grid-col-2 {
      .post-thumbnail {
        margin-bottom: 0.83333em;
      }

      .post-meta {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (min-width: 761px) {
  .post-feed {
    &.grid-col-3 {
      .post-thumbnail {
        margin-bottom: 0.83333em;
      }

      .post-meta {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-header,
  .post-header {
    margin-bottom: 2em;
  }

  .post-subtitle {
    font-size: 1.22222em;
  }

  .search-form {
    display: block;
  }
}
